extends base.pug

block content
    h3 #{video.views} #{video.views <= 1 ? "view" : "views"}
    //- 절대경로
    //- a(href=`/videos/${video.id}/edit`) Edit Video &rarr;
    //- 상대경로
    a(href=`${video.id}/edit`) Edit Video &rarr;