extends base.pug

block content
    div 
        p=video.description
        small=video.createdAt
    //- 절대경로
    //- a(href=`/videos/${video.id}/edit`) Edit Video &rarr;
    //- 상대경로
    a(href=`${video.id}/edit`) Edit Video &rarr;